// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts {
  &__header {
    margin: 1rem 0;
  }

  &__main {
    margin: 3rem 0;
  }

  &__footer {
    margin: 1rem 0;
  }
}

.post {
  background: #fafafa;
  padding: 2em;

  &__header {
    margin: 0 0 1rem;

    &__title {
      margin: 0 1rem 0 0;
      color: initial;

      &-link {
        position: relative;

        &:hover,
        &:visited {
          background: none;
          transition: color 0.125s ease-in-out; 
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }

        &:visited {
          color: #888;

          &:after {
            background: #888;
          }
        }

        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background: #000;
          opacity: 0;
          bottom: 0;
          transition: opacity 0.125s ease-in-out;
        }
      } 
    }

    &__date {
      color: #666;
      font-size: 1rem;
      line-height: 2;
      font-style: italic;
      margin: 0 0 0.5rem 0.5rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.back-link {
  margin: 1rem 0;
}